{% extends "basePort.html" %}

{% block page_content %}

              {% load static %}

              <section class="resume-section" id="interests">

              	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">

                  <div class="col col-sm-12 col-md-8">
                    <h2 class="mb-5">Situation pofessionnelle 1: Mise en place d'une solution VPN en TLS</h2>
                    <p>La société TEL-O qui offre des services support cliente via téléphone et en ligne souhaite mettre en place une connexion VPN pour que les développeurs soient capables de se connecter sur le serveur de développment à distance. La machine hôte en distance utilise Windows 10 et établir une connexion VPN via Internet vers le serveur de développment qui utilise l’OS Linux CentOS 8 en utilisant la solution OpenVPN pour se connecter sur le port 1194 UDP en utilisant le protocole TLS.</p>
                  </div>

			        <div class="col-1 hidden-sm"></div>
              <div class="col col-sm-3 col-md-3">
          		  <img  class="img-fluid"  src="{% static 'epreuves/images/VPN.png'%}" alt="VPN.png"/>
          	   
      		</div>

            </section>
            <div class="text-center">
           
             <a href="{% static 'epreuves/files/Epreuve_E4_-_FicheDescriptionSituation-1.docx' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> Description de situation 1</button>
           </a>
       

         <a href="{% static 'epreuves/files/Documentation technique situation 1.docx' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> Documentation technique de la situation 1 </button>
       </a>
    </div>
    <div class="empty"></div>

    <hr class="m-0" />

    <div class="empty"></div>
    <section class="resume-section" id="interests">

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">

        <div class="col col-sm-12 col-md-8">
          <h2 class="mb-5">INSTALLATION D’UN SERVEUR LOG accessible via HTTPS</h2>
          <p>La société TEL-O qui offre des services support cliente via téléphone et en ligne souhaite mettre en place un serveur ‘journaux d’événements’ pour que le DSI soit capable de vérifier les événements et les erreurs de tous les ordinateurs connectés au réseau. Le serveur log est un IBM Powersystem E950 ou les services sont virtualisées sur des VMs utilisant le logiciel de virtualisation Promox. La connexion utilisée est 1 GO fibre dédiée par le FAI OVH. La solution retenue est d’utiliser rsyslog avec Adiscon Log-analyzer en conjonction avec la Base de Données MariaDB et le serveur HTTP Apache sur un OS CentOS 8. La machine hôte utiliser l'OS Windows 10 et utiliser le logiciel SolarWinds Event Forwarder pour transférer les journaux d’événements au serveur.</p>
        </div>

    <div class="col-1 hidden-sm"></div>
    <div class="col col-sm-3 col-md-3">
  
      <img  class="img-fluid"   src="{% static 'epreuves/images/rsyslog.png' %}" alt="Berges"/>
    </div>
</div>

  </section>
  <div class="text-center">

   <a href="{% static 'epreuves/files/Epreuve_E4_-_FicheDescriptionSituation-2' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i>Description de situation 2</button>
 </a>


<a href="{% static 'epreuves/files/Documentation technique situation 2.docx' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i>  Documentation technique de la situation 2</button>
</a>
</div>
<div class="empty"></div>

<hr class="m-0" />

<div class="empty"></div>
{% endblock %}
