{% extends "basePort.html" %}

{% block page_content %}

              {% load static %}

              <section class="resume-section" id="interests">

              	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">

                  <div class="col col-sm-12 col-md-8">
                    <h2 class="mb-5">Veille technologique: Le Blockchain</h2>
                    <p>La blockchain, qui a commencé à émerger comme une technologie dans le monde en 2016, est prête à changer l'informatique. Blockchain mettra probablement des années à devenir un moyen plus efficace et moins coûteux de partager des informations et des données entre des réseaux commerciaux ouverts et privés.
                      Dehors le secteur de cryptomonnaie, les developpers Blockchain peuvent créer des jetons pour représenter tout type d'actif numérique, suivre sa propriété et exécuter ses fonctionnalités conformément à un ensemble d'instructions de programmation.
                      Ces jetons ou "tokens"  peuvent être des fichiers musicaux, des contrats, des billets de concert ou même le dossier médical d'un patient. Cela a élargi le potentiel de la blockchain pour imprégner d'autres secteurs comme les médias, le gouvernement et la sécurité des identités. Des milliers d'entreprises recherchent et développent actuellement des produits et des écosystèmes qui fonctionnent entièrement sur la technologie naissante.
                      Les objectives de cette veille technologique est de constituer une base d’informations clés pour identifier et comprendre la technologie Blockchain et de collecter des informations stratégiques sur les innovations sur les secteurs différents .
</p>
                  </div>

			        <div class="col-1 hidden-sm"></div>
              <div class="col col-sm col-md">
          		  <img  class="img-fluid"  style="min-height: 220px; max-width: 320; "src="{% static 'epreuves/images/blockchain.png' %}" alt="Blockchain"/>

      		    </div>
      		</div>

            </section>
            <div class="text-center">

             <a href="{% static 'epreuves/files/EPREUVE E6.pptx' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i>Presentation Veille techno</button>
           </a>
        </div>

    <div class="empty"></div>

    <hr class="m-0" />
    <div class="empty"></div>
     <br>
     <br>

{% endblock %}
