{% extends "basePort.html" %}

{% block page_content %}

              {% load static %}

              <section class="resume-section" id="interests">

              	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">

                  <div class="col col-sm-12 col-md-8">
                    <h2 class="mb-5">Situation Professionnel: MISE EN PLACE D’UN SERVEUR DE MESSAGERIE ELECTRONIQUE</h2>
                    <p>Les PPE font partie d’un projet d’installation et de configuration d’un serveur de messagerie pour répondre aux besoins de l’entreprise Extramile d’ envoyer et de recevoir des e-mails sur un serveur mail.
                       Les differents PPEs s'agisent de la configuration du DNS, de la configuration de la solution pour envoyer des emails, de la configuration de la solution pour recevoir les emails,
                       de la mise en place d'une solution de gestion des boîtes mail centralisée, la configuration des mecanismes d'identification de serveur utilisée pour l'expedition des emails, et finalement la mise en place une solution de protection contre les spam. </p>
                  </div>

			        <div class="col-1 hidden-sm"></div>
              <div class="col col-sm col-md">
          		  <img  class="img-fluid"  style="min-height: 220px; max-width: 320; "src="{% static 'epreuves/images/Dovecot.jpg' %}" alt="Serveur Mail"/>

      		    </div>
      		</div>

            </section>
            <div class="text-center">

             <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> PPE 1 Configuraton du DNS</button>
           </a>
        </div>
        <div class="text-center">

         <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> PPE 2 Configuration du serveur SMTP</button>
       </a>
    </div>
    <div class="text-center">

     <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> PPE 3 Configuration du serveur IMAP</button>
   </a>
</div>
<div class="text-center">

 <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> PPE 4 Configuration du PostfixAdmin</button>
</a>
</div>
<div class="text-center">

 <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> PPE 5 Configuration des mechanismes d'identification d'expediteur (SPF, DKIM, DMARC)</button>
</a>
</div>
<div class="text-center">

 <a href="{% static 'epreuves/files/' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i>PPE 6 Configuration du SpamAssasin</button>
</a>
</div>
    <div class="empty"></div>

    <hr class="m-0" />
     <div class="empty"></div>


{% endblock %}
