{% extends "basePort.html" %}

{% block page_content %}
   <div class="col-1 col-1-sm"></div>
  <div class="container-fluid -p-0">
            
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2 class="mb-0">
                        Xirouchakis
                        <span>Alexandros</span>
                    </h2>
                    
                    <div class="subheading mb-5">
                        34 rue du Général Lejeune 67000 Strasbourg 
                        <a href="mailto:name@email.com">alex.xirou@verbumsap.xyz</a>
                    </div>
                    <p class="lead mb-5">Actuellement en classe de BTS Services Informatiques aux Organisations IRIS Strasbourg.
                A la suite de mon BTS, j'envisage de poursuivre <br> mes études en licence Informatique.
                Je vous invite à découvrir mes travaux, mes compétences et mes expériences professionnelles.</p>
                    </div>
                    <div class="text-center">
                    {% load static %}
                     <a href="{% static 'cv/files/CVAlex_Xirou.pdf' %}" Download ><button class="btn"><i class="fa fa-download" style="font-size:30px;"></i> Télécharger mon CV</button>
                   </a>
                </div>
            </div>
                 <div class="empty"></div>
 	</section>
   
  	<hr class="m-0" />
  	<div class="empty"></div>
   
     <div class="container-fluid p-0">
    <section class="resume-section" id="skills">
              
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="col-1 hidden-sm"></div>
        <div class="col col-sm col-md-6">
        <ul class="list-unstyled">	
          <h2 class="type-white">COMPÉTENCES</h2>
          <li class="type-white">Gestion Linux (CentOS 8 / Debian10)</li>
          <li class="type-white">Installation/gestion de solutions logicielles (LEMP/LAMP, phpMyAdmin, GLPI, Nagios, Postfix, Dovecot, Nagios)</li>
          <li class="type-white">Installation et gestion de VMs sur: VirtualBox, VMware, Proxmox </li>
          <li class="type-white">Gestion de services Domaine et AD (Windows Server 2016/2019)</li>
          <li class="type-white">Gestion de réseau LAN (cablage, VLAN, routage, redondance, load-balacing </li>
          <li class="type-white">Gestion de version sur: GIT, GitHub, Bitbucket </li>
        </ul>  
        <div class="subheading mb-3" style="font-size: 20px;">Langues et outils de développement</div>
        <ul class="list-inline dev-icons">
           <li class="list-inline-item"><i class="fab fa-html5"style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-css3-alt" style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-js" style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-python" style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-cuttlefish" style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-r-project" style=" font-size:30px;"></i></li>
           <li class="list-inline-item"><i class="fab fa-php" style=" font-size:30px;"></i></li>
        </ul>
    </div>
      <div class="col-1 hidden-sm"></div>
    <div class="col">
    	 <ul class="list-unstyled">	
         <h2 class="type-white">Langues</h2>
         	 <li class="type-white">Français</li>
         	 <li class="type-white">Anglais</li>
         	 <li class="type-white">Grec</li>
         	 <li class="type-white">Japonais</li>
        </ul>  
     </div>
     </div> 
     
     <div class="empty"></div>
     </section>
     <hr class="m-0" />
     <div class="empty"></div>
   
            <!-- Experience-->
            <div class="container-fluid p-0">
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Expérience Professionnele</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Stage: Technicien système et réseaux</h3>
                            <div class="subheading mb-3">Extramile Consultants Engineers Ltd. </div>
                            <p>Gestion de base des données. Développement de la page Web de l‘entreprise. Installation du Serveur mail SMTP et IMAP avec Postfix et Dovecot sur Centos 8<br> et création d‘un système de gestion des comptes e-mail avec PostfixxAdmin. Configuration du filtrage anti-Spam avec SpamAssassin. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">1 Juliet 2020 – 07 Août 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Receptionist</h3>
                            <div class="subheading mb-3">Hotex Ibis, Strasbourg sud la vigie</div>
                            <p>Traitement des dernières arrivées. Relevés des systèmes d’incendie, de chauffage et de sécurité. Contrôle de caisse et clôture journalière. Nettoyage du restaurant <br> et de la réception. Préparation du buffet de petit déjeuner. Traitement des premiers départs.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">7 Juliet 2018 - présent</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Agent de centre d'appel</h3>
                            <div class="subheading mb-3">Infoassist S.A.</div>
                            <p>Gestion des plaintes et support technique. Prise des commandes. Planification des rendez-vous.Traitement des paiements. Services après-vente. Traitement des appels<br> de la part de clients.</p>         
                        </div>
              		    <div class="flex-shrink-0"><span class="text-primary">7 juil. 2017–15 janv. 2018</span></div>
                    </div>
                    
                </div>

            <div class="empty"></div>
     </section>
      </div> 
     <hr class="m-0" />
     <div class="empty"></div>  
  	   <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Formation</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">IRIS Strasbourg, Strasbourg France</h3>
                            <div class="subheading mb-3">BTS: Services informatique aux Organisations </div>
                            <div>Informatique - Option SISR</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">En cours</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">IESOEL, Athènes, Grèce</h3>
                            <div class="subheading mb-3">Certification Professionnelle</div>
                            <div>Comptabilité, services bancaires et finances Internationales</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2013-2014</span></div>
                    </div>
                
                 	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Université du Pirée, Pirée, Grèce</h3>
                            <div class="subheading mb-3">Master</div>
                            <div>Msc Maritime, transports combinés et logistique de transports</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2010-2013</span></div>
                    </div>
                </div>
              <div class="empty"></div>    
            </section>
            <hr class="m-0" />
            <div class="empty"></div>  
           
              <section class="resume-section" id="interests">
              	
              	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  
                  <div class="col col-sm-12 col-md-8">
                    <h2 class="mb-5">Passions</h2>
                    <p>j'aime passer la plupart de mon temps à l'extérieur. En été, j'aime faire des promenades avec des amies au centre de la ville et de voyager.<br>
                    <br>
                    Lorsque je suis forcé à l'intérieur, j'aime passer mon temps regardant des documentaires de la philopsophie des sciences et de l'économie. J'aime jouer les echecs et je passe une grande partie de mon temps libre a m'occuper avec mes projets personnels et à explorer le monde du develloppement et du machine learning.</p>
                  </div>

			        <div class="col-1 hidden-sm"></div>
              <div class="col col-sm col-md">
          		  <img  class="img-fluid"  style="min-height: 220px; max-width: 320; "src="{% static 'about/images/Bergs.jpg' %}" alt="Berges"/>
          	     <p class="label type-white"> L'endroit où j'aime passer du temps</p>
      		    </div>		
      		</div>	  	
           <div class="empty"></div>    
            </section>
        </div>
            <hr class="m-0" />
            <div class="empty"></div>  

{% endblock %}

