{% extends "base.html" %}
{% block page_content %}
<div class="p-2">
    <h1>{{ post.title }}</h1>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    {% if post.subtitle1 %}
        <p></p>
        <br>
        <p></p>
        <h3>{{ post.subtitle1 }}</h3>
    {% endif %}
    <p>{{ post.body1 | linebreaks }}</p>
    <br>
    <h3>{{ post.subtitle2 }}</h3>
    
    {% if post.image1 %}
        <img src="{{post.image1.url}}">
        
    {% endif %}
    {% if post.subtitle3 %}  
        <p></p>
        <br>
        <p></p> 
        <h3>{{ post.subtitle3 }}</h3>
    {% endif %}    
    <p>{{ post.body2| linebreaks }}</p>
    
    {% if post.image2 %}
        <img src="{{post.image2.url}}">
    {% endif %}
    
    {% if post.image3 %}
        <img src="{{post.image3.url}}">
        
    {% endif %}
    {% if post.subtitle4 %}
        <p></p>
        <br>
        <p></p>    
        <h3>{{ post.subtitle4 }}</h3>
    {% endif %}
    {% if post.image4 %}
        <img src="{{post.image4.url}}">
    {% endif %}
    
    {% if post.image5 %}
        <img src="{{post.image5.url}}">
    {% endif %}
    
    {% if post.image6 %}
        <img src="{{post.image6.url}}">
    {% endif %}
    
    {% if post.image7 %}
        <img src="{{post.image7.url}}">
    {% endif %}
    
    {% if post.image8 %}
        <img src="{{post.image8.url}}">
    {% endif %}
    
    {% if post.image9 %}
        <img src="{{post.image9.url}}">
    {% endif %}
    
    {% if post.image10 %}
        <img src="{{post.image10.url}}">
    {% endif %}
    
    {% if post.image11 %}
        <img src="{{post.image11.url}}">
    {% endif %}
    
    {% if post.image12 %}
        <img src="{{post.image12.url}}">
    {% endif %}
    
    {% if post.image13 %}
        <img src="{{post.image13.url}}">
        <br> 
    {% endif %}
    {% if post.body3 %}
        <p>{{ post.body3 | linebreaks }}</p>
        <br>
    {% endif %}       
    {% if post.image14 %}
        <img src="{{post.image14.url}}">
    {% endif %}
     {% if post.image15 %}
        <img src="{{post.image15.url}}">
    {% endif %}
     {% if post.image16 %}
        <img src="{{post.image16.url}}">
    {% endif %}
    {% if post.subtitle5 %}
        <p></p>
        <br>
        <p></p>
        <h3>{{ post.subtitle5 }}</h3>
    
    {% endif %}    
    <p>{{ post.body4 | linebreaks }}</p>
    {% if post.subtitle6 %}
        <p></p>
        <br> 
        <p></p>
        <h3>{{ post.subtitle6 }}</h3>
    {% endif %}
    {% if post.image17 %}
        <img src="{{post.image17.url}}">
        <br>
    {% endif %}
    {% if post.subtitle7 %}
     <p></p>
     <br>
     <p></p>
        <h3>{{ post.subtitle7 }}</h3>
    {% endif %}
    {% if post.image18 %}
        <img src="{{post.image18.url}}">
        <br>
    {% endif %}
    
    <p>{{ post.body5 | linebreaks }}</p>
   
    {% if post.image19 %}
       
        <img src="{{post.image19.url}}">
        <br>
    {% endif %}
    
    <p>{{ post.body6 | linebreaks }}</p>
    
    {% if post.image20 %}
        <img src="{{post.image20.url}}">
        <br>
    {% endif %}
    
    <p>{{ post.body7 | linebreaks }}</p>
    
    {% if post.image21 %}
        <img src="{{post.image21.url}}">
        <br>
    {% endif %}
    
    <p>{{ post.body8 | linebreaks }}</p>
    
    {% if post.image22 %}
        <img src="{{post.image22.url}}">
        <br>
    {% endif %}
    
    <p>{{ post.body9 | linebreaks }}</p>
    
    {% if post.image23 %}
        <img src="{{post.image23.url}}">
        <br>
    {% endif %}
    {% if post.subtitle8 %}
        <p></p>
        <br>   
        <p></p> 
        <h3>{{ post.subtitle8 }}</h3>    
    {% endif %}
    <p>{{ post.body10 | linebreaks }}</p>
    
    {% if post.image24 %}
        <img src="{{post.image24.url}}">
        <br>
    {% endif %}
    <p>{{ post.body11 | linebreaks }}</p>
    
    {% if post.image25 %}
        <img src="{{post.image25.url}}">
        <br>
    {% endif %}
    <p>{{ post.body12 | linebreaks }}</p>
    
    {% if post.image26 %}
        <img src="{{post.image26.url}}">
        <br>
    {% endif %}
    <p>{{ post.body13 | linebreaks }}</p>
    {% if post.image27 %}
        <img src="{{post.image27.url}}">
        <br>
    {% endif %}
    <p>{{ post.body14 | linebreaks }}</p>
    
    {% if post.image28 %}
        <img src="{{post.image28.url}}">
        <br>
    {% endif %}
    <p>{{ post.body15 | linebreaks }}</p>
    {% if post.image29 %}
        <img src="{{post.image29.url}}">
        <br>
    {% endif %}
    <p>{{ post.body16 | linebreaks }}</p>
    {% if post.image30 %}
        <img src="{{post.image30.url}}">
        <br>
    {% endif %}
    {% if post.image31 %}
        <img src="{{post.image31.url}}">
        <br>
    {% endif %}
    {% if post.body17 %}
        <br>
        <p>{{ post.body17 | linebreaks }}</p>
        <br>
    {% endif %}
    <h3>Laissez un commentaire ci-dessous:</h3>
    <form action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Commentaires:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body1 }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}
