{% extends "base.html" %}

{% block page_content %}
<div class="p-2">
    <h1>Mes labos:</h1>
    <hr>
    {% for post in posts %}
    <br>
    <br>
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <br>
	<br> 
    <div style="text-align: center;">          
        <img src="{{post.frontimage.url}}" style="max-height:75%;  max-width:100%;  min-height: 100px; min-width:150px;"  >
    </div>
	<br>
	<br>
    <p>{{ post.body1 | slice:":400" }}...</p>
    {% endfor %}
</div>

{% endblock %}
